http://littr.git:8080 {
    gzip

    root ./htdocs/

    fastcgi / /run/php-fpm/php-fpm.sock php

    rewrite {
        regexp .*
        ext / min.js js min.css css
        to /index.php/{path}&{query}
    }
}
