* {
	margin: 0;
	line-height: calc(1em + 0.5rem);
	overflow-wrap: break-word;
}
*, *::before, *::after {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
hr {
    margin: .5em 0;
}
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}
