body {
	font-family: sans-serif;
}
svg.icon {
	height: 1.4em; width: 1.4em; fill: currentColor; vertical-align: middle;
}
body section:focus {
	outline: none;
}
body section a {
	cursor: pointer;
}
body section {
	padding:1em 1em 0 1em;
	height: 100vh;
}
body section:empty::after {
	content: "This page is currently empty";
}
.feedback {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 33%;
	height: 33%;
	background-color: transparent;
}
.feedback a svg {
	float: right;
}
.hidden { display:none; }
